<!DOCTYPE html>
<html lang="kr">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>난다펜션</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- 카카오 css-->
      <link rel="stylesheet" href="css/kakaomap.css">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- 떠나요 css-->
      <link rel="StyleSheet" href='https://www.ddnayo.com/api/script.css' type="text/css" />
      <link rel="stylesheet" href="/resources/20250618200719/bundles/web.ReservationManagementEntry.bundle.css"
            type="text/css">
      <link rel="stylesheet" href="css/calendar-reservation.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
            media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1cbcc6060a0aaa920d7ff019f63b4816"></script>
      <!-- 떠나요 파트너센터 예약하기-->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
      <script type="text/javascript" id="ddnayoapi" src="https://www.ddnayo.com/api/script.aspx?apiuser=testuser00"
              charset="utf-8"></script>

   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- 달력 날짜 선택 UI 추가 -->
      <div class="jss85 jss83 mt5 jss84">
        <div class="jss86">
          <h2 class="MuiTypography-root MuiTypography-h3">달력에서 확인할 날짜를 선택해주세요.</h2>
        </div>
        <div class="jss80">
          <div class="jss87 jss81 jss111">
            <div class="jss104">
              <div class="MuiGrid-root jss88 MuiGrid-container MuiGrid-align-items-xs-center">
                <span class="jss89 jss105" id="prevMonthBtn">
                  <svg class="MuiSvgIcon-root jss99" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path></svg>
                </span>
                <span class="jss90" id="calendarTitle">2025년 07월</span>
                <span class="jss89 jss107" id="nextMonthBtn">
                  <svg class="MuiSvgIcon-root jss99" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z"></path></svg>
                </span>
              </div>
            </div>
            <div class="jss109" id="calendarGrid">
              <!-- 달력 날짜 그리드가 JS로 렌더링됩니다. -->
            </div>
          </div>
          <div class="jss120 jss82" style="width:100%;">
            <div class="jss116" id="todayLabel">오늘 : 2025.07.09</div>
            <ul class="jss121 jss119" style="margin-bottom:16px;">
              <li><i class="jss122 jss123"></i>객실 전체 예약완료</li>
              <li><i class="jss122 jss124"></i>객실 일부 예약완료</li>
              <li><i class="jss122 jss125"></i>선택날짜</li>
            </ul>
            <!-- 방 전체 막기 버튼 추가 -->
            <div style="width:100%;display:flex;justify-content:center;margin-bottom:18px;">
              <button id="blockAllRoomsBtn" class="block-all-btn">방 전체 막기</button>
            </div>
            <div id="roomCardList" style="margin-top:0; display:flex; flex-wrap:wrap; gap:16px;"></div>
          </div>
        </div>
      </div>

      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <!-- sidebar -->
      <script src="js/custom.js"></script>
      <script src="js/calendar.js"></script>
   </body>
</html>