<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <title>난다펜션</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="stylesheet" href="css/kakaomap.css">
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/responsive.css">
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
         media="screen">
   <link rel="stylesheet" href="css/custom.css"> <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1cbcc6060a0aaa920d7ff019f63b4816"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
   <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
</head>
<body class="main-layout">
<header>
   <div class="header">
      <div class="container">
         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
               <div class="full">
                  <div class="center-desk">
                     <div class="logo">
                        <a th:href="@{/}"><img src="img/logo.png" alt="#" /></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
               <nav class="navigation navbar navbar-expand-md navbar-dark ">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                          aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarsExample04">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                           <a class="nav-link" th:href="@{/controlBooking}">객실 상황</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" th:href="@{/controlRoom}">객실 정보</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" th:href="@{/controlPrice}">요금 설정</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
      </div>
   </div>
</header>
<div class="container">
   <table class="table table-striped-columns" style="text-align: center">
      <thead>
      <tr>
         <th class ="">기간 이름</th>
         <th class ="">기간</th>
         <th>저장</th>
         <th></th>
         <th></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr>
         <td data-label="기간 이름">
            <select id="slctType" class="select">
               <option value=" ">선택</option>
               <option value="beachOpen">해수욕장 개장</option>
               <option value="mudFest">머드 축제</option>
               <option value="special">특별 가격</option>
            </select>
         </td>
         <td hidden id="slctNum" data-label="기간 번호"></td>
         <td data-label="기간">
            <input class ="inputPeriod" type="text" id="periodStart" placeholder="시작일 선택"> <span class="period-separator">-</span> <input class ="inputPeriod" type="text" id="periodEnd" placeholder="종료일 선택">
         </td>
         <td data-label="저장">
            <button type="button" class="btn btn-secondary" th:onclick="savePeriod()">저장</button>
         </td>
         <td data-label=""></td>
         <td data-label=""></td>
      </tr>
      <tr th:each="period : ${slctPeriod}">
         <td id="periodNum" th:text="${period.periodNum}" hidden data-label="기간 번호"> </td>
         <td th:text="${period.periodNm}" data-label="기간 이름"></td>
         <td th:text="|${#dates.format(period.periodStart,'yyyy-MM-dd')} - ${#dates.format(period.periodEnd,'yyyy-MM-dd')}|" data-label="기간"></td>
         <td th:attr="onclick=|
                 changePeriod(
                   ${period.periodNum},
                   '${period.periodNm}',
                   '${#dates.format(period.periodStart,'yyyy-MM-dd')}',
                   '${#dates.format(period.periodEnd,'yyyy-MM-dd')}'
                 )
               |" data-label="수정">수정</td>
         <td th:onclick="|deletePeriod(${period.periodNum})|" data-label="삭제">삭제</td>
      </tr>
      </tbody>
   </table>

   <table class="table table-striped-columns" style="text-align: center">
      <thead>
      <tr>
         <th colspan="1">방 유형</th>
         <th colspan="2">기본 가격</th>
         <th colspan="2">개장 시기 가격</th>
         <th colspan="2">머드 축제 가격</th>
         <th colspan="2">특별 가격</th>
         <th>저장</th>
      </tr>
      <tr>
         <td></td>
         <td>주중</td>
         <td>주말</td>
         <td>주중</td>
         <td>주말</td>
         <td>주중</td>
         <td>주말</td>
         <td>주중</td>
         <td>주말</td>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr>
         <td data-label="방 유형">
            <select class="select" id="roomTypeSelect" th:onclick="selectType()"> <option value=" ">선택</option>
               <option value="coupleRoom">커플룸</option>
               <option value="familyTwo">투룸</option>
               <option value="familyOne">원룸</option>
               <option value="duplexTwo">복층투룸</option>
               <option value="duplexOne">복층원룸</option>
            </select>
         </td>
         <td data-label="기본 가격 (주중)"><input class="inputPrice" type="text" id='roomWkPrice' ></input></td>
         <td data-label="기본 가격 (주말)"><input class="inputPrice" type="text" id='roomWkndPrice'></input></td>
         <td data-label="개장 시기 가격 (주중)"><input class="inputPrice" type="text" id="roomSWkPrice"></input></td>
         <td data-label="개장 시기 가격 (주말)"><input class="inputPrice" type="text" id="roomSWkndPrice"></input></td>
         <td data-label="머드 축제 가격 (주중)"><input class="inputPrice" type="text" id="roomUWkPrice"></input></td>
         <td data-label="머드 축제 가격 (주말)"><input class="inputPrice" type="text" id="roomUWkndPrice"></input></td>
         <td data-label="특별 가격 (주중)"><input class="inputPrice" type="text" id="roomSfWkPrice"></input></td>
         <td data-label="특별 가격 (주말)"><input class="inputPrice" type="text" id="roomSfWkndPrice"></input></td>
         <td data-label="저장">
            <button type="button" class="btn btn-secondary" th:onclick="savePrice()">저장</button>
         </td>
      </tr>
      </tbody>
   </table>
   <table class="table table-striped-columns" style="text-align: center">
      <thead>
      <tr>
         <th >방 유형</th>
         <th>방 이름</th>
         <th colspan="2">기본 가격</th>
         <th colspan="2">개장 시기 가격</th>
         <th colspan="2">머드 축제 가격</th>
         <th colspan="2">특별 가격</th>
      </tr>
      <tr>
         <td></td>
         <td></td>
         <td>주중</td>
         <td>주말</td>
         <td>주중</td>
         <td>주말</td>
         <td>주중</td>
         <td>주말</td>
         <td>주중</td>
         <td>주말</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="room : ${roomPrice}">
         <td th:text="${room.roomType}" data-label="방 유형"></td>
         <td th:text="${room.roomNm}" data-label="방 이름"></td>
         <td class="price-value" th:text="${room.roomWkPrice}" data-label="기본 가격 (주중)"></td>
         <td class="price-value" th:text="${room.roomWkndPrice}" data-label="기본 가격 (주말)"></td>
         <td class="price-value" th:text="${room.roomSWkPrice}" data-label="개장 시기 가격 (주중)"></td>
         <td class="price-value" th:text="${room.roomSWkndPrice}" data-label="개장 시기 가격 (주말)"></td>
         <td class="price-value" th:text="${room.roomUWkPrice}" data-label="머드 축제 가격 (주중)"></td>
         <td class="price-value" th:text="${room.roomUWkndPrice}" data-label="머드 축제 가격 (주말)"></td>
         <td class="price-value" th:text="${room.roomSfWkPrice}" data-label="특별 가격 (주중)"></td>
         <td class="price-value" th:text="${room.roomSfWkndPrice}" data-label="특별 가격 (주말)"></td>
      </tr>
      </tbody>
   </table>
</div>
<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
            <ul class="conta">
               <li class="nav-item active">
                  <a class="nav-link" th:href="@{/controlBooking}">객실 상황</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" th:href="@{/controlRoom}">객실 정보</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" th:href="@{/controlPrice}">요금 설정</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">

                  <p>
                     © 2025 All Rights Reserved.</a>
                     <a>Distributed YDH</a>
                  </p>

               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/bookingPrice.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>

</body>
</html>